akregatorrc
arkrc
autostart
awesome
balena-etcher
baloofileinformationrc
bluedevilglobalrc
BraveSoftware
breezerc
cef_user_data
Code
CrossCode
dconf
discord
discoverrc
drkonqirc
emaildefaults
enchant
Epic
filetypesrc
fontconfig
gedit
glib-2.0
godot
google-chrome
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
gwenviewrc
haruna
harunarc
kactivitymanagerdrc
kactivitymanagerd-statsrc
kate
katemetainfos
katerc
kateschemarc
katevirc
kcalcrc
kcmfonts
kcminputrc
kconf_updaterc
KDE
kdeconnect
kded5rc
kded_device_automounterrc
kdedefaults
kde.org
khelpcenterrc
khotkeysrc
kinfocenterrc
kiorc
kmenueditrc
kmixrc
konsolesshconfig
korgacrc
krdcrc
krunnerrc
kscreenlockerrc
kservicemenurc
ksmserverrc
ktimezonedrc
kwalletrc
kxkbrc
libaccounts-glib
libreoffice
menus
mimeapps.list
MomodoraRUtM
neofetch
okularpartrc
okularrc
partitionmanagerrc
PlasmaDiscoverUpdates
plasma.emojierrc
plasma-localerc
plasmanotifyrc
plasma-org.kde.plasma.desktop-appletsrc
plasmaparc
plasmarc
plasmashellrc
PlasmaUserFeedback
plasmavaultrc
plasmawindowed-appletsrc
plasmawindowedrc
plasma-workspace
powerdevil.notifyrc
powerdevilrc
powermanagementprofilesrc
procps
pulse
QtProject.conf
session
soffice.binrc
spectaclerc
StardewValley
systemmonitorrc
systemsettingsrc
tlpui
touchpadxlibinputrc
trashrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
VirtualBox
VirtualBoxrc
vlc
xdg-desktop-portal-kderc
xsettingsd
